
body { 
    background-color: rgb(255, 255, 255);
}

@font-face {
    font-family: "DR Exclusive Editorial";
    src: url("fonts/DR Exclusive Editorial.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
}

.header_content {
    background-color: rgb(241, 241, 235);
    padding: 10px 100px;
}

.header_title {
    color: rgb(32, 31, 31);
    font-size: large;
    font-family: "DR Exclusive Editorial", sans-serif;
    text-align: center;
}

.header_title p:nth-child(1) {
    font-size: 30px;
    
}

.header_title p:nth-child(1),
.header_title p:nth-child(2){
    line-height: 2;
    margin: 0;
}

.header_title p:nth-child(2),
.header_title p:nth-child(3) {
    font-size: 60px;
    line-height: 0.1;
}

.header_logo {
    display: flex;
    justify-content: center;

}

.menu {
    display: flex;
    list-style-position: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: #1e300d;
}

.menu a {
 display: block;
 color: white;
 text-decoration: none;
 padding: 15px 25px;
 font-family: Arial, Helvetica, sans-serif;
 transition: 0.3s;

}

.menu a:hover {
    background-color: #ff4500;
}